<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <style>
      body {
        font-family: "Arial", sans-serif;
        background-color: #f4f4f4;
        color: #333;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }

      h1 {
        text-align: center;
        color: #007bff;
      }

      form {
        max-width: 400px;
        margin: 20px;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
      }

      input {
        width: 100%;
        padding: 8px;
        margin-bottom: 20px;
        box-sizing: border-box;
      }

      button {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      button:hover {
        background-color: #0056b3;
      }

      .login-link {
        text-align: center;
        margin-top: 10px;
      }
      #align {
        display: flex;
        flex-direction: column;
      }
    </style>
  </head>
  <body>
    <div id="align">
      <h1>Signup</h1>
      <form action="/user" method="POST">
        <label for="name">Username</label>
        <input type="text" name="name" id="username" required />

        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />

        <label for="email">Email</label>
        <input type="email" name="email" required />

        <button type="submit">Signup</button>
      </form>
      <div class="login-link">
        <p>Already have an account? <a href="/login">Login</a></p>
      </div>
    </div>
  </body>
</html>
